<p class="text-success"><%= notice %></p>

<% content_for :title, "Comentarios" %>

<h1 class="mb-4 text-danger">Comentarios</h1>

<div id="comentarios" class="mb-5">
  <% @comentarios.each do |comentario| %>
    <div class="card mb-3 shadow-sm" style="background-color: #f8d7da; border-radius: 12px;">
      <div class="card-body">
        <%= render comentario %>
        <p class="mt-3">
          <%= link_to "Ver este comentario", comentario, class: "btn btn-link text-danger" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Nuevo comentario", new_comentario_path, class: "btn btn-primary" %>
