<% content_for :title, "New comentario" %>

<h1 class="text-danger mb-4">Nuevo Comentario</h1>

<div class="card mb-4 shadow-sm" style="background-color: #f8d7da; border-radius: 12px; padding: 20px;">
  <%= render "form", comentario: @comentario %>
</div>

<div>
  <%= link_to "Regresar a comentarios", comentarios_path, class: "btn btn-secondary" %>
</div>
