<div id="<%= dom_id categorium %>" class="card mb-4 shadow-sm" style="background-color: #f8d7da; border-radius: 12px;">
  <div class="card-body">
    <p class="mb-1">
      <strong>Nombre:</strong>
      <span class="ms-2"><%= categorium.nombre %></span>
    </p>

    <p class="mb-0">
      <strong>Descripción:</strong>
      <span class="ms-2"><%= categorium.descripcion %></span>
    </p>
  </div>
</div>
