<% content_for :title, "Nueva Categoría" %>

<h1 class="mb-4">Nueva Categoría</h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", categorium: @categorium %>
  </div>
</div>

<div>
  <%= link_to "Regresar a categorías", categoria_path, class: "btn btn-secondary" %>
</div>
