<div class="container mt-5">
  <div id="<%= dom_id usuario %>" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Informacion</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Nombre:</strong></td>
          <td><%= usuario.nombre %></td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td><%= usuario.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
