<% content_for :title, "New usuario" %>

<h1>Nuevo Usuario</h1>

<div class="card mb-4" style="background-color: #f8d7da; border-radius: 12px; padding: 20px;">
  <%= render "form", usuario: @usuario %>
</div>

<div>
  <%= link_to "Regresar a usuarios", usuarios_path, class: "btn btn-secondary" %>
</div>
