<div id="<%= dom_id articulo %>" class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><strong>Título:</strong> <%= articulo.titulo %></h5>
    <p class="card-text"><strong>Contenido:</strong> <%= articulo.contenido %></p>
    <p class="card-text"><strong>Usuario:</strong> <%= articulo.usuario_id %></p>
  </div>
</div>
