<% content_for :title, "New articulo" %>

<h1 class="mb-4">Nuevo Artículo</h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", articulo: @articulo %>
  </div>
</div>

<div>
  <%= link_to "Regresar a articulos", articulos_path, class: "btn btn-secondary" %>
</div>
